// Primary colors
$olive-lighter: #DDE1CD;
$olive: #C4CCA8;
$olive-darker: #A2A88F;
$primary-olive: #747436;

// Additional colors
$yellow: #E4DD16;
$red: #D34606;

// Other
$white: #ffffff;
$warning: #FFBC1F;
$success: #2AC769;
$error: #FB4E4E;
$disable: #E0E0E0;

// Background
$background-color: #F8F8F8;

// Text colors
$darcker-color: #2C2C11;
$lighter-color: #F8F8F8;