@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import '_scss_variable.scss';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  color: $darcker-color;
  background: $background-color;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}

h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  @media screen and (min-width: 1440px) {
    font-size: 50px;
  }
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: 0;
  @media screen and (min-width: 1440px) {
    font-size: 46px;
  }
}
h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  @media screen and (min-width: 1440px) {
    font-size: 36px;
  }
}
h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  @media screen and (min-width: 1440px) {
    font-size: 30px;
  }
}
h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.ba-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0;
  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
  &--accent {
    font-weight: 700;
  }
}

.ba-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 0;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
  &--1 {
    font-weight: 600;
  }
  &--2 {
    font-weight: 400;
  }
  &--3 {
    font-size: 16px;
    @media screen and (min-width: 1440px) {
      font-size: 18px;
    }
  }
}

.ba-button {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: 0;
}

.ba-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0;

  &--2 {
    font-weight: 600;
  }
  &--3 {
    font-size: 12px;
  }
}